*, *::before, *::after {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html {
    background: #121212;
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: #ccc;
    font-weight: 500;
    transition: color 0.2s ease;
}

a:hover {
    color: #fff;
}

p {
    line-height: 1.5;
}

button {
    padding: 1em;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    margin: 1rem;
}

.flex-wrapper > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
    width: 100vw;
    padding: 1em;
}

.game-container {
    /* js */
    --init-bg: transparent;
    --init-fg: #fff;
    --win-bg: #00ea79;
    --win-fg: #005a2e;
    --lose-bg: #d80839;
    --lose-fg: #520013;
    --draw-bg: #ffe66b;
    --draw-fg: #675e32;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
}

.choices > button,
.reset > button {
    flex: 1;
    background: transparent;
    border: 3px solid #282828;
    color: #fff;
    font-size: 1.2rem;
    transition: font-size 0.2s ease;
}

.choices > button:hover,
.reset > button:hover {
    font-size: 1.1rem;
}

.reset > button {
    --win-btn-bg: #00ae5a;
    --lose-btn-bg: #960023;
    --draw-btn-bg: #d4b30d;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    color: #8c8c8c;
}

/* js */
.hidden {
    display: none;
}